.form-group #search_bar{
    min-width: 50%;
    width:50%;
}
.navbar-form .form-control {
    display: inline-block;
    width: 500px;
    vertical-align: middle;
}

#table_body{
    margin: auto;
    max-width: 30%;
}

.card{
    border-radius: 15px;
    border: 2px solid black;
    padding: 20px;
    width: 60%;
    height: auto;
    margin: auto;
}

