.form-group #search_bar{
    min-width: 50%;
    width:50%;
}
.navbar-form .form-control {
    display: inline-block;
    width: 500px;
    vertical-align: middle;
}

#table_body{
    margin: auto;
    max-width: 30%;
}

#main_graph{
    max-width: 900px;
    max-height: 500px;
}