
.navbar-form .form-control {
    display: inline-block;
    width: 700px;
    vertical-align: middle;
}

#table_body{
    margin: auto;
    max-width: 30%;
}


#main_graph{
    padding: 0 100px 0 100px;
    text-align: center;
}

.card{
    border-radius: 15px;
    border: 2px solid black;
    padding: 20px;
    width: 60%;
    height: auto;
    margin: auto;
}


